.table {
  border: 1px solid #555;

  tbody {
    tr:nth-child(odd) {
      background-color: darken(#ecf0f1, 7%);
    }

    tr:nth-child(even) {
      background-color: #ecf0f1;
    }
  }

  td {
    padding: 5px 10px;
  }
}