.table-header {
  .table-header-field {
    font-weight: normal;
    text-align: left;
    padding: 20px 10px;
    background-color: #eee;
    transition: 0.1s all linear;
    color: #333;

    &.sortable {
      cursor: pointer;
      &:hover {
        background-color: darken(#eee, 3%);
      }
    }

    .fa {
      margin-left: 10px;
    }
  }
}