.table-header {
  .table-header-field {
    font-weight: normal;
    text-align: left;
    padding: 5px 10px;
    background-color: #3498db;
    transition: 0.2s all linear;
    color: #fff;

    &.sortable {
      cursor: pointer;
      &:hover {
        background-color: darken(#2980b9, 10%);
      }
    }

    .fa {
      margin-left: 10px;
    }
  }
}