$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~react-datepicker/src/stylesheets/datepicker";
@import "~react-select/scss/default";
@import "../scss/variables";

body {
  color: #555;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
}

h3 {
  margin: 10px 0;
}

.button {
  line-height: 34px;
  align-self: flex-end;
  border: 0;
  background: transparent;
  padding: 0 10px;
  border-radius: 4px;
  transition: 0.1s all linear;
  cursor: pointer;
  color: $action-color;
  outline: $action-color;

  &:hover {
    text-decoration: underline;
  }
}

.Select {
  min-width: 150px;
}